@model WeListen.Web.Viewmodels.Songs.Index

@{
    ViewBag.Title = "Available";
}

<h2>Available songs at @ViewBag.Location</h2>

<table>
    <tr>
        <th>Song</th>
    </tr>

@foreach (Song song in Model.Songs) {
    <tr>
        <td>
            @song.Title 
            
            @Html.ActionLink("Queue", "Queue", new { locationId='1', songId= @song.SongId, requestedByUserId=song.User.UserId})
            
        </td>
    </tr>
}

</table>
