@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                
            </hgroup>
            <p>
               
            </p>
        </div>
    </section>
}
<h3>Get Started:</h3>
<ol class="round">
    <li class="one">
        <h5>Find a Location</h5>
        "Check in" at a location to see a list of all the available music at that location.
    </li>

    <li class="two">
        <h5>Queue Music</h5>
        Pick a song to add it to the queue.  If the song you want is not available, you still have the option 
        to play that song by searching all songs and purchasing that music for the DJ to play.
    </li>

    <li class="three">
        <h5>Sign Up</h5>
        Sign up to keep a list of favorites, view locations you have been and see all the songs you have queued.
    </li>
</ol>
